---
import Container from "@/components/shared/Container.astro";
import PreguntasFrec from "@/components/preguntasFrec/PreguntasFrec.astro";
const accordionItems = [
  {
    title: "¿Por qué los limones de Tucumán son los mejores del mundo?",
    content:
      "Los limones de Tucumán, Argentina, son reconocidos mundialmente por su sabor y frescura excepcionales. Gracias a las condiciones climáticas ideales y las técnicas de cultivo sostenibles, nuestros limones destacan por su alto contenido de jugo y aroma vibrante. ¡Son ideales tanto para consumo fresco como para jugo!",
  },
  {
    title: "¿Cómo exportan limones frescos desde Tucumán a otros países?",
    content:
      "Exportamos limones frescos directamente desde Tucumán a mercados internacionales como Rusia, Estados Unidos y Europa. Usamos transporte refrigerado para garantizar que los limones lleguen frescos y en perfectas condiciones, manteniendo la calidad que caracteriza a los limones argentinos.",
  },
  {
    title: "¿Cuáles son los beneficios de consumir limones?",
    content:
      "El consumo de limones tucumanos aporta beneficios como una gran fuente de vitamina C, antioxidantes y propiedades digestivas. Además, su alto contenido de nutrientes promueve una piel saludable y refuerza el sistema inmunológico. ¡El limón de Tucumán es una excelente opción para tu salud!",
  },
  {
    title: "¿Comprar limones frescos de Tucumán al por mayor en Argentina?",
    content:
      "Si estás buscando limones al por mayor en Argentina, especialmente de Tucumán, ofrecemos precios competitivos y entregas a todo el país. Contáctanos para obtener información sobre nuestras opciones de compra y distribución de limones frescos para tu negocio o exportación.",
  },
];
---

<section id="features">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12" />
  <PreguntasFrec items={accordionItems} />
</section>
