---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";

type ServicesProps = {
  title: string;
  description: string;
  icon: string;
};
---

<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <h2 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl">
        ¿ Que ofrecemos ?
      </h2>
      <Paragraph>
        Tanto si buscas limones para consumo fresco como para procesamiento,
        nuestros limones son la opción preferida por su inigualable excelencia y
        sabor.
      </Paragraph>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {
        services.map((service: ServicesProps) => {
          return (
            <Service
              title={service.title}
              description={service.description}
              icon={service.icon}
            />
          );
        })
      }
    </div>
  </Container>
</section>
