---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Services from "@/components/sections/Services.astro";
import AboutUs from "@/components/sections/AboutUs.astro";
import Features from "@/components/sections/Features.astro";
import CTA from "@/components/sections/CTA.astro";
import Brands from "@/components/sections/Brands.astro";
import BtnWsp from "@/components/shared/BtnWsp.astro";
import Arrow from "@/components/shared/Arrow.astro";
---

<Layout
  title="Exportación de limones"
  description="En Acequiones, nos especializamos en la venta, empaque y exportación de limones frescos de alta calidad. Ofrecemos productos de excelente sabor y frescura para mercados internacionales, asegurando un servicio confiable y eficiente."
>
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Hero />
    <Brands />
    <Services />
    <AboutUs />
    <Features />
    <CTA />
    <BtnWsp />
    <Arrow />
  </main>
</Layout>
