---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";

const footerNav1 = [
  {
    itemText: "Marketing",
    itemLink: "#",
  },
  {
    itemText: "Analylitics",
    itemLink: "#",
  },
  {
    itemText: "Commerce",
    itemLink: "#",
  },
  {
    itemText: "Insights",
    itemLink: "#",
  },
];

const footerSupport = [
  {
    itemText: "Dalmacio Quiles 302, T4128 Lules, Tucumán",
    itemLink:
      "https://www.google.com.ar/maps/place/Acequiones/@-26.9224756,-65.338105,17z/data=!3m1!4b1!4m6!3m5!1s0x942245004c7c371f:0x283ea19f4be52a40!8m2!3d-26.9224804!4d-65.3355301!16s%2Fg%2F11wh9dc40g?hl=es&entry=ttu&g_ep=EgoyMDI1MDIxMC4wIKXMDSoASAFQAw%3D%3D",
  },
  {
    itemText: "Contact",
    itemLink: "#",
  },
];

const footerCompany = [
  {
    itemText: "About",
    itemLink: "/about",
  },
  {
    itemText: "Blog",
    itemLink: "#",
  },
  {
    itemText: "Jobs",
    itemLink: "#",
  },
  {
    itemText: "Parteners",
    itemLink: "#",
  },
  {
    itemText: "Jobs",
    itemLink: "#",
  },
];
const footerLegal = [
  {
    itemText: "Claim",
    itemLink: "/#",
  },
  {
    itemText: "Privacy",
    itemLink: "#",
  },
  {
    itemText: "Terms",
    itemLink: "#",
  },
];
---

<div class="mt-16"></div>
<footer
  class="relative bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-28 rounded-t-3xl"
>
  <div class="absolute right-0 top-0 h-full w-full flex justify-end">
    <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
      <span
        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
      ></span>
    </div>
  </div>

  <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
    <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
      <span
        class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
      ></span>
      <span
        class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
      ></span>
    </div>
  </div>
  <Container className="pb-8 relative overflow-auto">
    <span
      class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 blur-2xl opacity-20 w-24 h-16 sm:w-48 sm:h-36 rounded-full rotate-12 skew-x-6 bg-primary"
    ></span>
    <div
      class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative"
    >
      <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
        <div class="h-full">
          <a href="/" class="relative flex items-center gap-3">
            <div class="relative w-14 h-14 overflow-hidden flex rounded-xl">
              <img
                src="/logo-negro.svg"
                alt="acequiones limones"
                title="argentinian lemon"
                class="w-14 dark:hidden"
              />
              <!-- agua con limon -->
              <img
                src="/logo-blanco.svg"
                title="limon argentino"
                alt="limon argentina acequiones"
                class="w-14 hidden dark:block"
              />
            </div>
            <div class="inline-flex text-lg font-semibold text-heading-1">
              Acequiones
            </div>
          </a>
          <Paragraph className={"mt-8 lg:text-sm tracking-wide"}>
            Ubicados en Tucumán, Argentina, somos una empresa líder en la venta
            de limones frescos y de calidad superior. Nuestra región, reconocida
            mundialmente por la producción de limones, es el corazón de nuestra
            actividad. Ofrecemos limones argentinos frescos, cosechados con
            técnicas sostenibles, garantizando su frescura y sabor para clientes
            nacionales e internacionales.
          </Paragraph>
        </div>
        <div class="min-h-max text-heading-3 mt-8">
          <p class="font-semibold text-black text-lg dark:text-white">
            | Redes Sociales
          </p>
          <div class="flex items-center gap-3 mt-4">
            <a
              href="https://www.facebook.com/acequiones.srl"
              class="transition hover:text-heading-1 hover:scale-105"
              target="_blank"
              title="Visita nuestro facebook"
            >
              <svg
                width="16"
                height="16"
                fill="currentColor"
                class="w-5 h-5"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                ></path>
              </svg>
              <span class="sr-only">facebook</span>
            </a>
            <a
              href="https://www.instagram.com/acequiones/"
              class="transition hover:text-heading-1 hover:scale-105 mt-1"
              target="_blank"
              title="Visita nuestro instagram"
            >
              <svg
                width="16"
                height="16"
                fill="currentColor"
                class="w-5 h-5"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.74 0h-7.48C2.433 0 1 1.433 1 3.26v7.48c0 1.827 1.433 3.26 3.26 3.26h7.48c1.827 0 3.26-1.433 3.26-3.26V3.26c0-1.827-1.433-3.26-3.26-3.26zM8 11.38a3.38 3.38 0 1 1 0-6.76 3.38 3.38 0 0 1 0 6.76zM12.334 3.838a.99.99 0 1 1 0-1.98.99.99 0 0 1 0 1.98z"
                ></path>
              </svg>
              <span class="sr-only">instagram</span>
            </a>
          </div>
        </div>
      </div>

      <GroupFooterNav>
        <FooterNav title={"Acequiones"} navItems={footerCompany} />
      </GroupFooterNav>

      <GroupFooterNav>
        <FooterNav title={"Contáctanos"} navItems={footerSupport} />
      </GroupFooterNav>
    </div>
  </Container>
  <div class="bg-gradient-to-tl from-box-bg py-2 relative">
    <Container>
      <div
        class="flex flex-col md:flex-row justify-between items-center gap-2 md:gap-6 md:text-lg text-heading-3 py-1"
      >
        <div class="text-center">
          &copy; <span id="year">2025</span> Acequiones. Todos los derechos reservados.
        </div>
        <div>
          <p class="flex items-center">
            by
            <a
              href="https://uhmo.com.ar/"
              target="_blank"
              class="text-emerald-500 ml-1 dark:text-emerald-300">UHMO</a
            >
          </p>
        </div>
      </div>
    </Container>
  </div>
</footer>
